PORT=3000
MONGO_URI=mongodb://localhost:27017/airtable_integration
AIRTABLE_BASE_URL=https://api.airtable.com/v0
AIRTABLE_CLIENT_ID=
AIRTABLE_CLIENT_SECRET=
AIRTABLE_REDIRECT_URI=http://localhost:3000/airtable/auth/callback
